.ativo-list-table-skeleton-loading {
  height: 400px;
  flex-direction: column;
  align-items: start !important;
}

.search-bar-skeleton {
  height: 60px;
  background-color: var(--skeleton-element);
  width: 30%;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.row-table-skeleton {
  height: 60px;
  background-color: var(--skeleton-element);
  width: calc(100% - 40px);
  margin: 20px auto;
  border-radius: 6px;
}
