.area-list-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 400px;
  position: relative;
  margin-top: 15px;
}

.area-list-table thead {
  height: 40px;
}

.area-list-table th {
  text-align: start;
  color: var(--text-info-color);
  font-size: 14px;
}

.area-list-table tbody tr {
  border-top: 1px solid var(--border-color);
  font-size: 15px;
}

.area-list-table tbody tr td div {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.area-list-table tbody tr:last-of-type {
  border-bottom: 1px solid var(--border-color);
}

.localizacao-input-div {
  position: relative;
}
