.img-carousel-container {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  overflow: hidden;
}

.carousel-img-track {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-img {
  width: 200px; /* largura padrão */
  height: 100px; /* altura padrão */
  object-fit: contain; /* mantém proporção, sem esticar */
  background-color: #fff;
  border-radius: 12px;
  margin: 0 10px;
  box-shadow: 0px 0px 2px 10px #0000000a;
  user-select: none;
  padding: 5px;
}

.button-carousel {
  background-color: var(--submit-button-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.button-carousel.left {
  left: 10px;
}

.button-carousel.right {
  right: 10px;
}