.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page img {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.login-welcome {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-welcome h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 800;
}

.login-welcome span {
  font-size: 13px;
  font-weight: 300;
  color: #979797;
  text-align: center;
}

.login-container {
  background-color: var(--bg-card);
  width: 300px;
  height: 300px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: 0 auto;
}

.login-input-group {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.login-input {
  width: 80%;
  font-size: 14px;
  padding-right: 40px;
  position: relative;
}

.login-input-title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}

.password-eye {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 38px;
  right: 12px;
  z-index: 10;
}

.password-eye i {
  color: #979797;
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.input-error {
  border: 1px solid var(--border-error-color) !important;
}

@media (min-width: 576px) {
  .login-welcome {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-welcome h2 {
    font-size: 28px;
  }

  .login-welcome span {
    font-size: 13px;
  }

  .login-container {
    width: 360px;
  }

  .login-input-group {
    width: 90%;
    min-height: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }

  .login-input {
    width: 84%;
    font-size: 14px;
    padding-right: 40px;
    position: relative;
  }

  .login-input-title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .password-eye {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 38px;
    right: 12px;
    z-index: 10;
  }

  .password-eye i {
    color: #979797;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .login-welcome {
    width: 100%;
    margin-bottom: 30px;
  }

  .login-welcome h2 {
    font-size: 35px;
  }

  .login-welcome span {
    font-size: 18px;
  }

  .login-input-title {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
