.lote-container {
  width: 100%;
}

.lote-container h4 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 0;
}

.contador-objeto-ativo {
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
  color: var(--text-info-color);
}

.objeto-ativo {
  border: 2px dashed var(--bg-progress-fill);
  margin: 10px 0;
  padding: 0 15px 15px 15px;
  border-radius: 5px;
  transition: background-color 1s ease-in-out, opacity 0.5s ease, transform 0.5s ease;
  animation: fadeIn 0.5s ease-out;
}

.objeto-ativo:hover {
  background-color: var(--bg-card-hover);
}

.objeto-ativo.removing {
  opacity: 0;
  transform: translateY(-15px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
