.tag-cadastro-em-lote {
  font-size: 14px;
  font-weight: 700;
  background-color: var(--bg-card);
  border-radius: 18px;
  padding: 6px 10px;
  color: var(--bg-progress-fill);
  border: 1px solid var(--bg-progress-fill);
  margin-bottom: 5px;
  height: 19px;
  margin-left: 10px;
}

.tag-dados-unicos {
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(201, 97, 0, 0.5);
  border-radius: 18px;
  padding: 6px 10px 9px 10px;
  color: #ffffff88;
  border: 1px solid rgba(201, 97, 0, 0.9);
  height: 12px;
  margin-left: 10px;
}

.header-title-form-lote {
  display: flex;
  align-items: center;
}

.lote-container {
  width: 100%;
}

.lote-container h4 {
  font-size: 19px;
  font-weight: 700;
  margin: 0;
}

.contador-objeto-ativo {
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
  color: var(--text-info-color);
}

.objeto-ativo {
  border: 2px dashed var(--bg-progress-fill);
  margin: 10px 0;
  padding: 0 15px 15px 15px;
  border-radius: 5px;
  transition: background-color 1s ease-in-out, opacity 0.5s ease, transform 0.5s ease;
  animation: fadeIn 0.5s ease-out;
}

.objeto-ativo:hover {
  background-color: var(--bg-card-hover);
}

.objeto-ativo.removing {
  opacity: 0;
  transform: translateY(-15px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
