.usuario-responsavel-list-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 280px;
  position: relative;
  margin-top: 15px;
}

.usuario-responsavel-list-table thead {
  height: 40px;
}

.usuario-responsavel-list-table th {
  text-align: start;
  color: var(--text-info-color);
  font-size: 14px;
}

.usuario-responsavel-list-table tbody tr,
.usuario-responsavel-list-table tbody tr td {
  max-height: 90px;
  height: 60px;
}

.usuario-responsavel-list-table tbody tr {
  border-top: 1px solid var(--border-color);
  font-size: 15px;
}

.usuario-responsavel-list-table th:nth-of-type(1),
.usuario-responsavel-list-table td:nth-of-type(1) {
  min-width: 48px;
}

.usuario-responsavel-list-table th:nth-of-type(2),
.usuario-responsavel-list-table td:nth-of-type(2) {
  min-width: 200px;
}

.usuario-responsavel-list-table th:nth-of-type(4),
.usuario-responsavel-list-table td:nth-of-type(4) {
  max-width: 120px;
  width: 120px;
}

.usuario-responsavel-list-table th:nth-of-type(4) {
  text-align: center;
}

.usuario-responsavel-list-table tbody tr td div {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.usuario-responsavel-list-table tbody tr:last-of-type {
  border-bottom: 1px solid var(--border-color);
}

.localizacao-input-div {
  position: relative;
}

.localizacao-formulario {
  max-width: calc(100% - 70px);
  padding-right: 60px;
}