.no-data-info {
  background-color: var(--bg-card);
  height: 40px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--bg-progress-fill);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data-info span {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 0.05rem;
}