.page-title {
  margin-bottom: 6px;
}

.page-subtitle {
  color: var(--text-info-color);
  font-size: 14px;
}

.ativo-list-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 400px;
  position: relative;
  margin-top: 15px;
}

.ativo-list-table thead {
  height: 40px;
}

.ativo-list-table th {
  text-align: start;
  color: var(--text-info-color);
  font-size: 14px;
}

.ativo-list-table tbody tr {
  border-top: 1px solid var(--border-color);
  font-size: 15px;
}

.ativo-list-table tbody tr td div {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.ativo-list-table tbody tr:last-of-type {
  border-bottom: 1px solid var(--border-color);
}

.ativo-list-table .col-select {
  width: 36px;
  text-align: center;
}

.ativo-list-table .col-descricao {
  min-width: 200px;
}

.ativo-list-table .col-id {
  min-width: 40px;
  padding: 0 10px;
}

.ativo-list-table .col-localizacao {
  min-width: 200px;
  padding: 0 10px;
}

.ativo-list-table .col-usuario {
  min-width: 220px;
  padding-left: 10px;
}

.ativo-list-table .col-acoes {
  text-align: center;
}

.table-action-buttons {
  display: flex;
  height: 40px;
}

.table-action-buttons .button {
  width: 60px;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-action-buttons .button:hover {
  background-color: var(--button-hover-color);
}

.no-data-on-table {
  min-height: 60px;
  height: 60px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--text-color);
}

.text-info {
  color: var(--text-info-color);
  font-size: 14px;
  font-weight: 300;
}

.clickable-table-row {
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.clickable-table-row:hover {
  background-color: var(--bg-card-hover);
}

.header-buttons button {
  margin-left: 10px;
}

.nao-atribuido {
  background-color: #ff0000ad;
}

@media (min-width: 992px) {
  .page-title {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .page-subtitle {
    color: var(--text-info-color);
    font-size: 14px;
  }

  .ativo-list-table {
    min-height: auto;
  }

  .ativo-list-table thead {
    height: 40px;
  }

  .ativo-list-table th {
    text-align: start;
    color: var(--text-info-color);
    font-size: 14px;
  }

  .ativo-list-table tbody tr {
    border-top: 1px solid var(--border-color);
    font-size: 15px;
  }

  .ativo-list-table tbody tr td div {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  .ativo-list-table tbody tr:last-of-type {
    border-bottom: 1px solid var(--border-color);
  }

  .ativo-list-table th:nth-of-type(2),
  .ativo-list-table td:nth-of-type(2) {
    width: 5%;
  }

  .ativo-list-table th:nth-of-type(7),
  .ativo-list-table td:nth-of-type(7) {
    width: auto;
    text-align: center;
    max-width: 60px;
    width: 60px;
  }

  .table-action-buttons {
    display: flex;
    height: 40px;
  }
}
