.page-title {
  margin-bottom: 6px;
}

.page-subtitle {
  color: var(--text-info-color);
  font-size: 14px;
}

.ativo-list-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 400px;
  position: relative;
  margin-top: 15px;
}

.ativo-list-table thead {
  height: 40px;
}

.ativo-list-table th {
  text-align: start;
  color: var(--text-info-color);
  font-size: 14px;
}

.ativo-list-table tbody tr {
  border-top: 1px solid var(--border-color);
  font-size: 15px;
}

.ativo-list-table tbody tr td div {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.ativo-list-table tbody tr:last-of-type {
  border-bottom: 1px solid var(--border-color);
}

.ativo-list-table th:nth-of-type(1),
.ativo-list-table td:nth-of-type(1) {
  min-width: 200px;
}

.ativo-list-table th:nth-of-type(2),
.ativo-list-table td:nth-of-type(2) {
  min-width: 40px;
  padding-left: 10px;
}

.ativo-list-table th:nth-of-type(4),
.ativo-list-table td:nth-of-type(4) {
  min-width: 200px;
  padding-left: 10px;
}

.ativo-list-table th:nth-of-type(6),
.ativo-list-table td:nth-of-type(6) {
  min-width: 220px;
  padding-left: 10px;
}

.ativo-list-table th:nth-of-type(7),
.ativo-list-table td:nth-of-type(7) {
  text-align: center;
}

.table-action-buttons {
  display: flex;
  height: 40px;
}

.table-action-buttons .button {
  width: 60px;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-action-buttons .button:hover {
  background-color: var(--button-hover-color);
}

.no-data-on-table {
  min-height: 60px;
  height: 60px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.20rem;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-no-data);
}

.text-info {
  color: var(--text-info-color);
  font-size: 14px;
  font-weight: 300;
}

.clickable-table-row {
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.clickable-table-row:hover {
  background-color: var(--bg-card-hover);
}

@media (min-width: 992px) {
  .page-title {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .page-subtitle {
    color: var(--text-info-color);
    font-size: 14px;
  }

  .ativo-list-table {
    min-height: auto;
  }

  .ativo-list-table thead {
    height: 40px;
  }

  .ativo-list-table th {
    text-align: start;
    color: var(--text-info-color);
    font-size: 14px;
  }

  .ativo-list-table tbody tr {
    border-top: 1px solid var(--border-color);
    font-size: 15px;
  }

  .ativo-list-table tbody tr td div {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  .ativo-list-table tbody tr:last-of-type {
    border-bottom: 1px solid var(--border-color);
  }

  .ativo-list-table th:nth-of-type(2),
  .ativo-list-table td:nth-of-type(2) {
    width: 5%;
  }

  .ativo-list-table th:nth-of-type(7),
  .ativo-list-table td:nth-of-type(7) {
    width: 5%;
    text-align: center;
  }

  .table-action-buttons {
    display: flex;
    height: 40px;
  }

  .table-action-buttons .button {
    width: 60px;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-action-buttons .button:hover {
    background-color: var(--button-hover-color);
  }

  .no-data-on-table {
    min-height: 60px;
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-no-data);
  }

  .text-info {
    color: var(--text-info-color);
    font-size: 14px;
    font-weight: 300;
  }
}
