.card-ativo-recente-container {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  width: calc(100% - 22px);
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: background-color 0.5s ease-in-out;
}

.card-ativo-recente-container:hover {
  background-color: var(--bg-card-hover);
}

.card-ativo-recente-container:first-of-type {
  margin-top: 15px;
}

.card-icon-white {
  background-color: var(--button-color);
  width: 65px;
  height: 65px;
  min-width: 65px;
  min-height: 65px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon-white i {
  font-size: 35px;
  color: var(--text-color);
}

@media (min-width: 992px) {
  .card-ativo-recente-container {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    padding: 10px 0 10px 15px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .card-ativo-recente-container:first-of-type {
    margin-top: 15px;
  }
}
