.notifications-container {
  width: 100vw;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 10px;
}

.notificacoes-section {
  width: calc(100% - 20px);
  margin: 10px;
}

.dashboard-element {
  display: flex;
  flex-direction: column;
}

.notificacoes-element {
  width: 100%;
  height: 100%;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.card-estatistica-notificacao {
  width: 110px;
  height: 140px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 39px;
  font-weight: 800;

  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  box-shadow: 0px 0px 15px 1px #0038509f;
}

.card-estatistica-info {
  font-size: 13px;
  font-weight: 300;
  color: var(--text-color);
}

/* #002d41a8 */

.card-estatistica-notificacao:hover {
  opacity: 1;
  transform: scale(1.05);
}

.notificacao-garantia {
  background-color: #009640;
}

.notificacao-alerta {
  background-color: #ffc107;
}

.notificacao-expirado {
  background-color: #f44336;
}

@media (min-width: 576px) {
  .card-estatistica-notificacao {
    width: calc(90% / 3);
  }

  .dashboard-section {
    width: 40%;
  }

  .notificacoes-section {
    width: calc(60% - 20px);
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .notifications-container {
    width: 87vw;
    margin: 30px auto 0 auto;
    flex-direction: row;
  }

  .dashboard-section {
    width: 45%;
  }

  .notificacoes-section {
    width: calc(55% - 20px);
    margin-left: 20px;
  }

  .card-estatistica-notificacao {
    width: 200px;
    box-shadow: 0px 0px 35px 3px #0038509f;
  }
}
