.usuario-list-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 200px;
  position: relative;
  margin-top: 15px;
}

.usuario-list-table thead {
  height: 40px;
}

.usuario-list-table th {
  text-align: start;
  color: #00200e;
  font-size: 14px;
}

.usuario-list-table tbody tr {
  border-top: 1px solid #006C2F;
  font-size: 15px;
}

.usuario-list-table th:nth-of-type(1),
.usuario-list-table td:nth-of-type(1) {
  min-width: 48px;
}

.usuario-list-table th:nth-of-type(2),
.usuario-list-table td:nth-of-type(2) {
  min-width: 200px;
}

.usuario-list-table th:nth-of-type(5),
.usuario-list-table td:nth-of-type(5) {
  min-width: 120px;
  min-height: 100%;
}

.usuario-list-table th:nth-of-type(5) {
  text-align: center;
}

.usuario-list-table td:nth-of-type(5) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usuario-list-table tbody tr td div {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.usuario-list-table tbody tr:last-of-type {
  border-bottom: 1px solid #006C2F;
}

.localizacao-input-div {
  position: relative;
}

.localizacao-formulario {
  max-width: calc(100% - 70px);
  padding-right: 60px;
}