@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* --- TEMA ESCURO --- */
:root {
  --white-text: #fff;
  --text-color: #e7e7e7;
  --text-info-color: #9ba6b1;
  --text-disabled-color: #727375;
  --text-input-color: #76787c;
  --text-error-color: #e60109;
  --text-input-label: #9E9E9E;
  --border-input-color: #6a6b6e;
  --border-color: #404349;
  --border-error-color: #e60109;
  --submit-button-color: #007aff;
  --submit-button-hover-color: #1877dd;
  --button-color: #3c414d;
  --button-hover-color: #4d5361;
  --bg-color: #121212;
  --bg-progress-bar: #39414d;
  --bg-progress-fill: #007dfe;
  --bg-card: #1d2228;
  --bg-no-data: #df2929;
  --bg-filter-input: #2a2a2a;
  --bg-disabled-field: #222121;
  --skeleton-loading: #1d2228;
  --skeleton-gradient: #3E4957;
  --skeleton-element: rgb(62, 67, 75);
  --hist-line: #ffffff1f;
}

/* --- TEMA CLARO --- */
[data-theme="light"] {
  --white-text: #111;
  --text-color: #333;
  --text-info-color: #7f8185;
  --text-disabled-color: #727375;
  --text-input-color: #3d3d3d;
  --text-error-color: #d8262c;
  --border-input-color: #8e8e8f;
  --border-color: #8e8e8f;
  --border-error-color: #d8262c;
  --submit-button-color: #007aff;
  --submit-button-hover-color: #1877dd;
  --button-color: #a1a1a1;
  --button-hover-color: #c0c0c0;
  --bg-color: #fff;
  --bg-progress-bar: #b4b4b4;
  --bg-progress-fill: #0da621;
  --bg-card: #d3d3d3;
  --bg-no-data: #e06969;
  --bg-filter-input: #2a2a2a;
  --bg-disabled-field: #b1afaf;
  --skeleton-loading: #c2c2c2;
  --skeleton-gradient: #dfdfdf;
  --hist-line: #0000001f;
}

#root {
  max-height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

button {
  border: unset;
  background-color: unset;
  color: unset;
  margin: unset;
  padding: unset;
}
