@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* --- TEMA ESCURO --- */
:root {
  --white-text: #fff;

  --text-color: #fff;
  --text-info-color: #657f8d;
  --text-disabled-color: #727375;
  --text-input-color: #657f8d;
  --text-error-color: #e60109;
  --text-input-label: #86a1b1;

  --border-input-color: #6a6b6e;
  --border-color: #1a425a;
  --border-error-color: #e60109;

  --submit-button-color: #009fe3;
  --submit-button-hover-color: #006996;
  --button-color: #005a89;
  --button-hover-color: #0074b3;
  --action-button-color: #00963E;
  --action-button-hover-color: #006e2e;

  --bg-color: #013148;
  --bg-progress-bar: #025a82;
  --bg-progress-fill: #009fe3;
  --bg-card: #003b59;
  --bg-card-hover: #005580;
  --bg-no-data: #d41919;
  --bg-filter-input: #001621;
  --bg-disabled-field: #012233;

  --skeleton-loading: #1d2228;
  --skeleton-gradient: #3e4957;
  --skeleton-element: rgb(62, 67, 75);

  --hist-line: #ffffff1f;
}

/* --- TEMA CLARO --- */
[data-theme="light"] {
  --white-text: #111;
  
  --text-color: #001621;
  --text-info-color: #7f8185;
  --text-disabled-color: #727375;
  --text-input-color: #3d3d3d;
  --text-error-color: #d8262c;
  --text-input-label: #485965;

  --border-input-color: #8e8e8f;
  --border-color: #8e8e8f;
  --border-error-color: #d8262c;

  --submit-button-color: #007aff;
  --submit-button-hover-color: #1877dd;
  --button-color: #a1a1a1;
  --button-hover-color: #c0c0c0;
  --action-button-color: #007aff;
  --action-button-hover-color: #1877dd;

  --bg-color: #fff;
  --bg-progress-bar: #b4b4b4;
  --bg-progress-fill: #0da621;
  --bg-card: #d3d3d3;
  --bg-card-hover: #b7b7b7;
  --bg-no-data: #e06969;
  --bg-filter-input: #2a2a2a;
  --bg-disabled-field: #b1afaf;

  --skeleton-loading: #c2c2c2;
  --skeleton-gradient: #dfdfdf;
  --hist-line: #0000001f;
}

#root {
  max-height: 100vh;
}

#main {
  padding-bottom: 20px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

button {
  border: unset;
  background-color: unset;
  color: unset;
  margin: unset;
  padding: unset;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("/icons/calendario.svg") center/90% no-repeat;
}

html[data-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
