.auto-width {
  width: auto !important;
}

.pd-1 {
  padding: 2px !important;
}

.pd-2 {
  padding: 4px !important;
}

.pd-3 {
  padding: 8px !important;
}

.input-element {
  height: 45px;
  background-color: var(--bg-color);
  color: var(--text-input-color);
  border: 1px solid var(--border-input-color);
  border-radius: 10px;
  padding-left: 10px;
  position: relative;
}

.button {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-weight: 700;
  letter-spacing: 0.025em;
  transition: background-color 0.3s ease-in-out;
}

.submit-button {
  background-color: var(--submit-button-color);
  color: var(--text-color);
}

.submit-button:hover {
  background-color: var(--submit-button-hover-color);
}

.general-button {
  background-color: var(--button-color);
  color: var(--text-color);
}

.general-button:hover {
  background-color: var(--button-hover-color);
}

@media (min-width: 576px) {
  .pd-1 {
    padding: 5px !important;
  }

  .pd-2 {
    padding: 10px !important;
  }

  .pd-3 {
    padding: 15px !important;
  }
}
