.auto-width {
  width: auto !important;
}

.pd-1 {
  padding: 2px !important;
}

.pd-2 {
  padding: 4px !important;
}

.pd-3 {
  padding: 8px !important;
}

.input-element {
  height: 45px;
  background-color: var(--bg-color);
  color: var(--text-input-color);
  border: 1px solid var(--border-input-color);
  border-radius: 10px;
  padding-left: 10px;
  position: relative;
}

.button {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  min-height: 45px;
  font-weight: 700;
  letter-spacing: 0.025em;
  transition: background-color 0.3s ease-in-out;
}

.submit-button {
  background-color: var(--submit-button-color);
  color: var(--text-color);
}

.submit-button:hover {
  background-color: var(--submit-button-hover-color);
}

.general-button {
  background-color: var(--button-color);
  color: var(--text-color);
}

.general-button:hover {
  background-color: var(--button-hover-color);
}

.loading-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.div-erro {
  padding-top: 5px;
  font-size: 10px;
  color: var(--text-error-color);
}

.add-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0861e7;
  margin-top: 5px;
  cursor: pointer;
}

.remove-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e70808;
  position: absolute;
  z-index: 100;
  top: 18px;
  right: 10px;
  cursor: pointer;
}

.skeleton-card-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid var(--skeleton-gradient);

  overflow: hidden; /* evita que a faixa saia da div */

  /* fundo cinza fixo */
  background-color: var(--skeleton-loading);
  position: relative;
}

.skeleton-card-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -11%; /* começa fora da tela */
  width: 32%;
  height: 100%;

  background: linear-gradient(90deg, var(--skeleton-loading) 0%, var(--skeleton-gradient) 50%, var(--skeleton-loading) 100%);

  animation: shimmer-slide 1s infinite linear;
  opacity: 0.5; /* opcional, para suavizar */
  border-radius: inherit;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.bg-card-blue {
  background-color: var(--bg-card) !important;
}

.bg-card-green {
  background-color: #009640 !important;
}

.bg-card-deep-green {
  background-color: #004A20 !important;
}

.content-container {
  color: var(--text-color) !important;
  border-radius: 10px !important;
  padding: 20px !important;
  margin: 20px auto 0 auto !important;
}

.delete-button {
  color: #d81313;
}

.table-pagination-container {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  margin-top: 5px;
}

.table-pagination-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.pagination-select-label,
.pagination-displayed-rows-label,
.pagination-select {
  color: var(--text-color) !important;
  margin: 0;
}

.pagination-toolbar {
  display: flex;
  width: 100%;
  padding: 0 !important;
}

.pagination-spacer {
  display: none;
}

.filtro-input-div {
  position: relative;
}

.filtro-input {
  background-color: var(--bg-color);
  height: 45px;
  padding-left: 35px;
  padding-right: 12px;
  border: 0;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025rem;
  color: var(--text-color);
}

.filtro-input-div i {
  position: absolute;
  top: 0;
  transform: translateY(60%) translateX(50%);
}

[class^="tag-dot-"] {
  width: 6px;
  min-height: unset !important;
  max-height: 6px !important;
  height: 6px !important;
  border-radius: 50%;
  margin-right: 5px;
}

[class^="tag-tipo-ativo-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 17px;
  font-size: 11px;
  font-weight: 300;
}

.tag-tipo-ativo-t {
  background-color: #0d522286;
}

.tag-tipo-ativo-i {
  background-color: #095ddc86;
}

.tag-tipo-ativo-tl {
  background-color: #902cdc86;
}

.tag-dot-t {
  background-color: #0e5e26;
}

.tag-dot-i {
  background-color: #0861e7;
}

.tag-dot-tl {
  background-color: #992bec;
}

.div-table {
  overflow-x: scroll;
}

.disabled-field {
  background-color: var(--bg-disabled-field) !important;
  color: var(--text-disabled-color) !important;
  cursor: not-allowed;
}

/* no border radius */
.nbr {
  border-radius: 0;
}

/* overflow-y scroll */
.ov-y-scroll {
  overflow-y: scroll;
}

.accordion-title {
  font-weight: 700;
  font-size: 20px;
}

.accordion-container {
  margin-top: 30px !important;
}

.accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordion-header div:nth-child(2) {
  margin-top: 10px;
}

.chart-tooltip {
  background-color: var(--bg-card) !important;
  color: var(--text-color) !important;
}

.apexcharts-legend-text {
  margin: 0 !important;
  padding-left: 5px !important;
}

/* animação da faixa se movendo */
@keyframes shimmer-slide {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}

@media (min-width: 576px) {
  .pd-1 {
    padding: 5px !important;
  }

  .pd-2 {
    padding: 10px !important;
  }

  .pd-3 {
    padding: 15px !important;
  }
}

@media (min-width: 576px) {
  .accordion-header {
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
  }
  
  .accordion-header div:nth-child(2) {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .div-table {
    overflow-x: unset;
  }
}
